<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/test.css">
        <title>
            CV - Rogier
        </title>
    </head>
    <body>
        <h3>
            Study
        </h3>
        <p>
        
            <form action="/b" method="post">
                ID: <input type="text" name="ID">  <br />
                NAME: <input type="text" name="name"> <br />
                LINK: <input type="text" name="link"> <br />
                AGE: <input type="text" name="age"> <br />
                LOCATION: <input type="text" name="location"> <br />
                <input type="submit" name= "form" value="Submit" />
            </form>
        </p>
    </body>
</html>