<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
  
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title>Form:</title>

  
</head><body>
<form action="{{ url_for(" gfg="" )}}="" method="post">
  <label for="firstname">First Name:</label>
  <input id="firstname" name="fname" placeholder="firstname" type="text"><label for="lastname">Last Name:</label>
  <input id="lastname" name="lname" placeholder="lastname" type="text"><button type="submit">Login</button>
</form>

</body></html>